*{
    font-family: 'Times New Roman', Times, serif;
}

#footer_master{
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 2vh;
    justify-content: space-around;
     background-color: #333;

}

#footer_information{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    gap: 1rem;
}

.personnal_information > p {
    font-style: italic;
}
#footer_socialMedia{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialMedia > a{
    text-decoration: none;
    color: white;
}

.socialMedia >a:hover{
    background-color: rgb(255, 252, 252);
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    color: black;
}

